body{
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold
}

h1{
    color: crimson;
}


h2{
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: bold
}

h3{
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}
p{
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

